<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{- with .Title -}}
      <meta property="og:title" content="{{ . }}" />
    {{- end -}}
    <meta
      property="og:description"
      content="{{ with .Description }}
        {{ . }}
      {{ else }}
        {{ .Site.Params.defaultDescription }}
      {{ end }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta
      property="og:image"
      content="{{ with .Params.image }}
        {{ . | absURL }}
      {{ else }}
        {{ .Site.Params.defaultImage | absURL }}
      {{ end }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <title>{{ .Title }}</title>
    <link href="/css/style.css" rel="stylesheet" />
    <script>
      const userPrefersDark = window.matchMedia(
        "(prefers-color-scheme: dark)",
      ).matches;
      document.documentElement.setAttribute(
        "data-theme",
        userPrefersDark ? "business" : "corporate",
      );
    </script>
  </head>
  <body class="">
    <!-- ヘッダー -->
    {{ partial "header.html" . }}


    <!-- フルスクリーンオーバーレイ -->
    {{ partial "fullscreen.html" . }}


    <!-- メインコンテンツ -->
    <main class="p-10">{{ block "main" . }}{{ end }}</main>

    <!-- フッター -->
    <footer
      class="p-5 text-center bg-primary text-primary-content shadow-classic">
      <p>© 2004 - 2024 Small-engineer-net All Rights Reserved.</p>
    </footer>
  </body>
  <script src="/js/index.js" defer></script>
</html>
