@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "KH-Dot";
  src: url("/fonts/KH-Dot-Hatchoubori-16.ttf") format("truetype");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "KH-Dot";
  src: url("/fonts/KH-Dot-Hibiya-24.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "KH-Dot";
  src: url("/fonts/KH-Dot-Hibiya-32.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: bold;
}

body {
  font-family: "KH-Dot", "Noto Sans JP", sans-serif;
  font-weight: 400;
}
